page-dashboard {
  .flight-icon-green{
    color:green;
  }

  .flight-icon-orange{
    color:orangered;
  }

  #mainimage{
    width: 100%;
    height: auto    
  }
  
  .scroll-content {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-bottom: 0px !important;
      padding: 0px !important;
      position: absolute;
      z-index: 1;
      display: block;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
      contain: size style layout;
  }

}
