flight-status-slide{
    .flight-icon-green{
        color:green;
    }

    .flight-icon-orange{
        color:orangered;
    } 

    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
            margin:0px;
            padding:0px;
        }

        ion-slides {
            height: auto;
        }        

        .card-title {
            font-size: 0.8em;
            width: 100%;
            font-weight: bold;
            color:black;
        }

        .card-subtitle {
            font-size: 0.8em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }

        .round-image {
            height: 18vw; 
            width: 18vw; 
            border: 2px solid #344;
            border-radius: 50%;
            box-shadow: 2px 2px 2px gray;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }     
    }

    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-bottom: 0px !important;
        padding: 0px !important;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }

    ion-app.md [padding], ion-app.md [padding] .scroll-content {
        padding: 0px !important;
    }    
}